.slide-animation {
    -webkit-animation: myfirst 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}

@keyframes myfirst {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}
.gradient,
.orange-text {
    background: url()fixed no-repeat center;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
    padding-bottom: 1.5em;
}
.container {
    background: url("images/large/cool_girl-HD-lg-1920x1080.jpg")fixed no-repeat center;
}
body {
    background: url("images/large/wallpapers-HD-lg-2560x1600.jpg")fixed no-repeat center;
}
.container:hover {
    background: url("images/large/wallpapers-HD-lg-2560x1600.jpg")fixed no-repeat center;
}
.container {
    min-height: 900px;
}
#player-ctrl {
    padding-top: 5%;
}
.me-pic {
    height: 200px;
    width: 200px;
}
body,
.container,
a,
#developer,
#show-nav-button:hover,
#top-contacts,
#projects:hover,
#education:hover,
#work-experience:hover,
#a-link:hover,
#biopic-col,
.landing,
#skills-span,
#skills-h3,
.welcome-message {
    background-color: black;
}
#developer {
    color: lawngreen;
    border-radius: 100%;
}
#about-me {
    font-size: 1.7em;
}
p {
    font-size: 2em;
    line-height: 1.5em;
}
.landing,
li,
a {
    color: lawngreen;
}
#test-suite {
    background-color: blue;
    color: white;
    position: fixed;
    right: 0;
    opacity: .5;
}
#test-suite:hover {
    background-color: darkblue;
    color: red;
    opacity: .9;
}
#pano {
    position: relative;
    float: left;
    height: 400px;
    width: 100%;
    z-index: 1;
}
#skills-span {
    color: red;
    font-size: 150%;
    opacity: .7;
}
#skills {
    letter-spacing: 1em;
}
.responsive-images,
img,
.landing {
    height: 100%;
    width: 100%;
}
.landing {
    position: absolute;
    z-index: 1;
    padding: 5% 10% 10% 10%;
}
.letter-spacer {
    letter-spacing: .8em;
}
#biopic-col {
    border-radius: 100%;
    opacity: .7;
}
.biopic {
    background: transparent;
}
#biopic-col,
.biopic {
    height: 100px;
    width: 100px;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
.clear-fix {
    overflow: auto;
}
span,
h1,
h2,
h3,
h4,
h5,
h6,
#skills-h3,
.welcome-message,
.location-text,
.date-text,
#name,
#projects,
#education,
#work-experience,
#live-work-header,
button:hover,
.red-headers:hover {
    color: turquoise;
    font-family: "lato", sans-serif;
    -webkit-box-shadow: -2px 20px 24px -9px turquoise;
    -moz-box-shadow: -2px 20px 24px -9px turquoise;
    box-shadow: -2px 20px 24px -9px turquoise;
}
#show-nav-button {
    border-radius: 100%;
    padding: 1em;
    height: 100px;
    width: 100px;
    font-size: 2.5;
    color: red;
    border: 2px solid;
    background: url("images/large/wallpapers-HD-lg-2560x1600.jpg")center;
     -webkit-box-shadow: -2px 20px 24px -9px turquoise;
    -moz-box-shadow: -2px 20px 24px -9px turquoise;
    box-shadow: -2px 20px 24px -9px turquoise;
}
#show-nav-button:hover {
    border-radius: 70%;
    padding: 1em;
    border: 5px solid;
    border-color: red;
    color: lawngreen;
    background: url();
    background-color: black;
}
.span-toggle {
    color: black;
    font-size: 1em;
    font-weight: 900;
}
.red-headers {
    color: red;
}
.img-circle {
    height: 100px;
    width: 100px;
}
.red-headers:hover {
    color: lightblue;
    background-color: darkgreen;
}

#projects,
#education,
#work-experience,
#button-show-map {
    display: none;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}
h1 {
    font-size: 40px;
    line-height: 48px;
    display: inline;
}
h2 {
    font-size: 24px;
    line-height: 29px;
    padding: 10px;
}
h3 {
    font-style: italic;
    font-size: 20px;
    line-height: 22px;
}
h4 {
    line-height: 17px;
}
h2,
h4 {
    font-weight: bold;
}
h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}
.date-text,
.location-text {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}
.date-text {
    float: left;
}
.location-text {
    float: right;
}
a {
    padding: 1.5em;
    border-color: lawngreen;
    display: block;
}
audio {
    position: fixed;
    top: 0;
    right: 0;
}
a:hover,
.red-headers:hover,
#top-contacts:hover {
    border-color: red;
    border: 5px solid;
    border-radius: 10%;
    transition: .5s;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0, 1, 1, 0);
    -webkit-box-shadow: -2px 20px 24px -9px turquoise;
    -moz-box-shadow: -2px 20px 24px -9px turquoise;
    box-shadow: -2px 20px 24px -9px turquoise;
}
.welcome-message {
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    opacity: .7;
}
#skills-h3 {
    display: none;
}
.orange-text {
    color: #f5ae23;
}
.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}
.dark-gray {
    background-color: #4a4a4a;
}
#header {
    background: transparent;
}
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.center-content {
    padding: 2.5% 5%;
}
ul {
    list-style-type: none;
}
img {
    padding: 6%;
}
#project-img {
    max-width: 400px;
    max-height: 400px;
}
span {
    padding: 5px;
}
#row-clear {
    clear: both;
}
#map-container {
    position: relative;
    display: block;
    height: 83%;
    width: 83%;
    margin: 0 5%;
}
#map {
    position: relative;
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}
#info {
    color: black;
}
.cubic-bezier {
    transition: .5s;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0, 1, 1, 0);
}
.tranparent-on {
    background-color: transparent;
}
.flip {
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(350px) rotateX(-90deg);
    -o-transform: perspective(350px) rotateX(-90deg);
    transform: perspective(350px) rotateX(-90deg);
    border: solid 10px;
    border-color: red;
}
.span-toggle {
    font-size: 1em;
    font-weight: 900;
}
#a-link {
    border: 2px solid;
    border-color: turquoise;
}

/* Media queries to handle various device widths */

@media only screen and (min-width: 1200px) {
    #player-ctrl {
        padding-top: 10%;
    }
    #about-me {
        font-size: 2em;
    }
    .me-pic {
        height: 280px;
        width: 290px;
        position: relative;
        bottom: 3%;
        left: 33%;
        -webkit-box-shadow: -2px 20px 24px -9px turquoise;
        -moz-box-shadow: -2px 20px 24px -9px turquoise;
        box-shadow: -2px 20px 24px -9px turquoise;

    }
    .span-toggle {
    font-size: 1em;
    font-weight: 900;
    background-color: turquoise;
    border-radius: 10%;
    }
    .landing,
    li,
    #a-link:hover,
    a {
        color: lawngreen;
    }
}
/*Labtop Ipad*/

@media only screen and (max-width: 1200px) {
    #biopic-col {
        display: none;
    }
    button {
        opacity: 1;
    }
    .container,
    .container:hover,
    body,
    body:hover {
        background: url()fixed no-repeat center;
        background-color: black;
    }
    .container  {
        padding-top: 15%;
    }
    #about-me,
    h2,
    h3,
    h4 {
        -webkit-box-shadow: -2px 2px 2px -9px turquoise;
        -moz-box-shadow: -2px 2px 2px -9px turquoise;
        box-shadow: -2px 2px 2px -9px turquoise;
    }
    .me-pic {
        height: 200px;
        width: 200px;
        position: relative;
        bottom: 3%;
        left: 35%;
        -webkit-box-shadow: -2px 20px 24px -9px turquoise;
        -moz-box-shadow: -2px 20px 24px -9px turquoise;
        box-shadow: -2px 20px 24px -9px turquoise;
    }
    .span-toggle {
    font-size: 1em;
    font-weight: 900;
    background-color: turquoise;
    border-radius: 10%;
    }
    #a-link:hover,
    a {
        color: lawngreen;
    }
}
/*Nexus 5x, 6p Galaxy S5, Iphone 5, 6 Plus*/
@media only screen and (max-width: 365px) {
    .me-pic {
        display: none;
    }
    .container,
    body {
        background: url()fixed no-repeat center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
        padding-bottom: 1.5em;
    }
}

@media only screen and (min-width: 200px) and (max-width: 736px) {
    #about-me {
        height: 50%;
    }
    p {
    font-size: 1em;
    line-height: 1.5em;
    }
    button {
        -webkit-box-shadow: -2px 20px 24px -9px red;
        -moz-box-shadow: -2px 20px 24px -9px red;
        box-shadow: -2px 20px 24px -9px red;
        opacity: 9;
    }
    #header {
        font-size: 70%;
    }
    #name {
        font-size: 180%;
    }
    .welcome-message {
        display: none;
    }
    #project-img {
        max-width: 285px;
        max-height: 285px;
    }
    #copyright,
    #top-contacts {
        font-size: 1.5em;
    }
    .education-entry {
        color: red;
        background-color: midnightblue;
    }
    a,
    #developer,
    a:hover {
        color: lawngreen;
    }
    h2,
    h3,
    h4 {
        text-align: center;
        font-size: 2.3em;
        -webkit-box-shadow: -2px 2px 2px -9px turquoise;
        -moz-box-shadow: -2px 2px 2px -9px turquoise;
        box-shadow: -2px 2px 2px -9px turquoise;
    }
    button {
        background-color: turquoise;
        padding: .5em;
    }
    #about-me {
        font-size: 1em;
    }
    .me-pic {
        height: 22%;
        width: 35%;
        position: relative;
        left: 33%;
    }
    h4 {
        font-size: 1em;
    }
    .container  {
        padding-top: 10%;
    }
    h2,
    span {
        color: red;
        background-color: black;
    }
    #skills-span {
        display: none;
    }
}
}